<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fevicon.png" type="image/x-icon">
  <title>LUNG AI</title>

  <!-- bootstrap core css -->
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  
  <!-- font awesome style -->
  <!-- <link href="css/font-awesome.min.css" rel="stylesheet" /> -->

  <!-- Custom styles for this template -->
  <!-- <link href="css/style.css" rel="stylesheet" /> -->
  <!-- responsive style -->
  <!-- <link href="css/responsive.css" rel="stylesheet" /> -->
</head>

<body>
  <div class="hero_area">
    <div class="hero_bg_box">
      <!-- <img src="images/hero-bg.jpg" alt=""> -->
      <!-- <img src="{{ url_for('static', filename='images/hero-bg.jpg') }}" alt="Image 1"> -->
      <img src="{{ url_for('static', filename='images/main.jpg') }}" alt="Image 1">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <!-- <div class="header_top"> -->
        <!-- <div class="container-fluid header_top_container">

          <div class="contact_nav">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Location
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +01 123455678990
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                demo@gmail.com
              </span>
            </a>
          </div>
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div> -->
      <!-- </div> -->
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand " href="/"> LUNG AI </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#team"> Team </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/lab">Lab</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>
                      Login
                    </span>
                  </a>
                </li> -->
                <!-- <form class="form-inline justify-content-center">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form> -->
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Seamless Integration, Superior Performance
                    </h1>
                    <p>
                      LungAI prioritizes seamless integration with healthcare systems, fostering collaborations with X-ray facilities and pharmaceutical companies. Our tool ensures efficient logistics and strategic warehousing, elevating overall performance and patient care.
                    </p>
                    <div class="btn-box">
                      <a href="/lab" class="btn1">
                        Go to Lab
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Revolutionizing Respiratory Diagnostics
                    </h1>
                    <p>
                      Welcome to LungAI, where innovation meets healthcare. Our cutting-edge respiratory diagnostic tool harnesses the power of AI to redefine how lung diseases are diagnosed. Experience a new era in precision and efficiency.
                    </p>
                    <div class="btn-box">
                      <a href="/lab" class="btn1">
                        Go to Lab
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Comprehensive Training for Healthcare Excellence
                    </h1>
                    <p>
                      Empowering healthcare professionals is at the core of LungAI. Explore our comprehensive training programs designed to enhance accessibility and performance. Join us in advancing respiratory healthcare through education and collaboration.
                    </p>
                    <div class="btn-box">
                      <a href="/lab" class="btn1">
                        Go to Lab
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Global Impact, Local Solutions
                    </h1>
                    <p>
                      LungAI's mission extends beyond borders. We're committed to addressing global health challenges by providing precise respiratory health assessment tools. Join us in making a lasting impact on healthcare accessibility and quality worldwide.
                    </p>
                    <div class="btn-box">
                      <a href="/lab" class="btn1">
                        Go to Lab
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding" id="services">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="">
          Our Services
        </h2>
        <p class="col-lg-8 px-0">
          Experience the future of respiratory healthcare at LungAI. Our AI-based diagnostics ensure precise and efficient lung disease diagnosis. We seamlessly integrate with healthcare systems, collaborate strategically, and empower professionals through comprehensive training programs. Join us in advancing global respiratory health.
        </p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap ">
          <div class="service_owl-carousel owl-carousel">
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <!-- <img src="images/s1.png" alt="" /> -->
                </div>
                <div class="detail-box">
                  <h5>
                    Bacterial Pneumonia
                  </h5>
                  <p>
                    Our advanced AI-based diagnostics accurately identify bacterial pneumonia, ensuring precise and efficient diagnosis.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <!-- <img src="images/s4.png" alt="" /> -->
                </div>
                <div class="detail-box">
                  <h5>
                    COVID-19 Detection
                  </h5>
                  <p>
                    LungAI is at the forefront of COVID-19 diagnostics, providing reliable and swift detection of the virus.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <!-- <img src="images/s6.png" alt="" /> -->
                </div>
                <div class="detail-box">
                  <h5>
                    Lung Opacity Assessment
                  </h5>
                  <p>
                    We specialize in assessing lung opacity, a crucial aspect in understanding respiratory health conditions.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <!-- <img src="images/s1.png" alt="" /> -->
                </div>
                <div class="detail-box">
                  <h5>
                    Normal Respiratory Health
                  </h5>
                  <p>
                    LungAI ensures comprehensive diagnostics for normal respiratory health, setting the standard for baseline assessments
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <!-- <img src="images/s4.png" alt="" /> -->
                </div>
                <div class="detail-box">
                  <h5>
                    Tuberculosis Identification
                  </h5>
                  <p>
                    Our services include the detection of tuberculosis, contributing to early diagnosis and intervention.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <!-- <img src="images/s6.png" alt="" /> -->
                </div>
                <div class="detail-box">
                  <h5>
                    Viral Pneumonia Detection
                  </h5>
                  <p>
                    LungAI excels in identifying viral pneumonia, offering a crucial tool in combating respiratory infections.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div> -->
    </div>
  </section>

  <!-- service section ends -->

  <!-- about section -->

  <section class="about_section" id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box pr-md-2">
            <div class="heading_container">
              <h2 class="">
                About Us
              </h2>
            </div>
            <p class="detail_p_mt">
              Welcome to LungAI, where innovation meets respiratory healthcare. We are committed to revolutionizing lung disease diagnosis through cutting-edge AI technology. Our mission extends globally, addressing health challenges with precise diagnostics, collaborative partnerships, and a commitment to accessibility. Whether through our web application or in-house deployment, LungAI is dedicated to making a lasting impact on respiratory health worldwide.
            </p>
            <!-- <a href="about.html" class="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box ">
            <!-- <img src="images/about-img.jpg" class="box_img" alt="about img"> -->
            <img src="{{ url_for('static', filename='images/about.png') }}" class="box_img" alt="about img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about section ends -->

  <!-- team section -->

  <section class="team_section layout_padding" id="team">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Team
        </h2>
        <p>
          Meet the LungAI team—innovators in respiratory healthcare. Our dynamic professionals, from AI specialists to healthcare experts, unite in a shared mission to revolutionize diagnostics. With a focus on precision and efficiency, our team is committed to making a positive impact on global health.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/mustafa.jpg') }}"  style="width: 550px; height: 450px; padding-right: 40%;"     "Image 1">
            </div>
            <div class="detail-box">
              <h5>
                Mustaffa Khan
              </h5>
              <h6 class="">
                CEO-Business
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/qasim.jpg') }}"  style="width: 550px; height: 450px; padding-right: 40%; "  alt="Image 1">
            </div>
            <div class="detail-box">
              <h5>
                Muhammad Qasim
              </h5>
              <h6 class="">
                Full Stack Developer
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/sima.jpeg') }}" style="width: 550px; height: 450px; padding-right: 40%;"  alt="Image 1">
            </div>
            <div class="detail-box">
              <h5>
                Saima Khuhro, PhD
              </h5>
              <h6 class="">
                MARKETING MANAGER
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/saba.jpg') }}"   style="width: 550px; height: 450px; padding-right: 40%;" alt="Image 1">
            </div>
            <div class="detail-box">
              <h5>
               Saba Altaf
              </h5>
              <h6 class="">
                ENGINEERING MANAGER
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/adil.jpg') }}"  style="width: 550px; height: 450px; padding-right: 40%;" alt="Image 1">
            </div>
            <div class="detail-box">
              <h5>
                Aadil Memon
              </h5>
              <h6 class="">
                PRODUCT MANAGER
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/noor.jpeg') }}"  style="width: 550px; height: 450px;" alt="Image 1">
            </div>
            <div class="detail-box">
              <h5>
                Noor khokhar
              </h5>
              <h6 class="">
                DATA SCIENTIST
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end team section -->

  <!-- contact section -->
  <section class="contact_section " id="contact">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box ">
            <!-- <img src="images/contact-img.jpg" class="box_img" alt="about img"> -->
            <img src="{{ url_for('static', filename='images/contact.jpg') }}"  style="height: 5%; width: 10%;" class="box_img" alt="about img">
            
          </div>
        </div>
        <div class="col-md-5 mx-auto">
          <div class="form_container">
            <div class="heading_container heading_center">
              <h2>Get In Touch</h2>
            </div>
            <form action="">
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="form-control" placeholder="Your Name" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" placeholder="Phone Number" />
                </div>
                <div class="form-group col-lg-6">
                  <select name="" id="" class="form-control wide">
                    <option value="">Select Service</option>
                    <option value="">Service 1</option>
                    <option value="">Service 2</option>
                    <option value="">Service 3</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input type="email" class="form-control" placeholder="Email" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="message-box form-control" placeholder="Message" />
                </div>
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

 
  <!-- end client section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="row">
          <div class="col-md-3 ">
            <a class="navbar-brand" href="index.html">
              LUNG AI
            </a>
          </div>
          <div class="col-md-5 ">
            <div class="info_contact">
              <!-- <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a> -->
              <!-- <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +01 1234567890
                </span>
              </a> -->
            </div>
          </div>
          <!-- <div class="col-md-4 ">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info_detail">
              <h5>
                Company
              </h5>
              <p>
                LungAI is a trailblazing force in respiratory healthcare, driven by cutting-edge AI technology. Our mission is to revolutionize lung disease diagnosis globally, ensuring precision, accessibility, and positive health outcomes. Join us in advancing respiratory healthcare with innovative solutions that make a lasting impact.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info_form">
              <h5>
                NEWSLETTER
              </h5>
              <form action="">
                <input type="text" placeholder="Enter Your Email" />
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="info_detail">
              <h5>
                Services
              </h5>
              <p>
                LungAI pioneers the transformation of respiratory health with cutting-edge AI technology. Committed to precision and accessibility, we lead the charge in revolutionizing global lung disease diagnostics.
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="">
              <h5>
                Useful links
              </h5>
              <ul class="info_menu">
                <li>
                  <a href="/">
                    Home
                  </a>
                </li>
                <li>
                  <a href="#about">
                    About
                  </a>
                </li>
                <li>
                  <a href="#services">
                    Services
                  </a>
                </li>
                <li>
                  <a href="#team">
                    Team
                  </a>
                </li>

                <li class="mb-0">
                  <a href="#contact">
                    Contact Us
                  </a>
                </li>
                <li>
                  <a href="/lab">
                    Lab
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <!-- <a href="https://html.design/">Free Html Templates</a> -->
        <strong>LUNG AI Development Team</strong>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <!-- <script src="js/jquery-3.4.1.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- bootstrap js -->
  <!-- <script src="js/bootstrap.js"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- custom js -->
  <!-- <script src="js/custom.js"></script> -->
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->
</body>

</html>